
*.xcuserstate

*.DS_Store
*/.DS_Store

*.xcbkptlist


Al Najd.xcodeproj/xcuserdata/

Al Najd.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

OrdiCore/.swiftpm/xcode/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist

fastlane/Config.json
fastlane/LocalConfig.json

Gemfile.lock
.env.default.auth
.env.default.formatting
.env.default.plugin
.env.default.project
fastlane/report.xml
