
*.xcuserstate

*.DS_Store
*/.DS_Store

*.xcbkptlist


*.xcodeproj/**/*
*.xcworkspace/**/*
fastlane/Config.json
fastlane/LocalConfig.json

Gemfile.lock
.env.default.auth
.env.default.formatting
.env.default.plugin
.env.default.project
fastlane/report.xml
Tuist/.build/**/*