APP_ICON = AppIcon-alpha
APP_DISPLAY_NAME = Al Najd
BUNDLE_DISPLAY_NAME = "Al Najd"
SWIFT_ACTIVE_COMPILATION_CONDITIONS = ALPHA
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) ALPHA=1
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-alpha
OTHER_SWIFT_FLAGS = $(inherited) -D ALPHA
PRODUCT_BUNDLE_IDENTIFIER = com.alnajd.alnajd.ios.alpha