APP_ICON = AppIcon-beta
APP_DISPLAY_NAME = Al Najd
BUNDLE_DISPLAY_NAME = Al Najd
SWIFT_ACTIVE_COMPILATION_CONDITIONS = BETA
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-beta
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) BETA=1
OTHER_SWIFT_FLAGS = $(inherited) -D BETA
PRODUCT_BUNDLE_IDENTIFIER=com.alnajd.alnajd.ios.beta
STRIP_STYLE = debugging