APP_ICON = AppIcon-debug
APP_DISPLAY_NAME = Al Najd
BUNDLE_DISPLAY_NAME = Al Najd
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-debug
PRODUCT_BUNDLE_IDENTIFIER = com.alnajd.alnajd.ios.debug
OTHER_LDFLAGS = -Xlinker -interposable -ObjC
OTHER_SWIFT_FLAGS = $(inherited) -DAMPLITUDE_DEBUG